iconify-icon {
    display: inline-block;
    vertical-align: -0.125em;
    speak: never;
    width: 1em;
    height: 1em;
    line-height: 1;
}

iconify-icon.ml_icon_sm {
    font-size: 1rem;
}

iconify-icon.ml_icon_md {
    font-size: 1.25rem;
}

iconify-icon.ml_icon_lg {
    font-size: 1.5rem;
}
